*db.sqlite3
logs
service/static/users_out/
service/lama
service/static/out/s1/
service/static/out/s2/
service/static/out/s3/
service/static/out/s4/
service/static/out/s5/
service/static/out/s6/
service/static/out/s7/
service/static/out/s8/
service/static/out/s9/
service/static/out/s10/
service/static/out/bots1/
service/static/out/bots2/
service/static/out/bots3/
service/parsers_znakapp/p1/
service/parsers_znakapp/p2/
service/parsers_znakapp/p3/
service/parsers_znakapp/p4/
service/parsers_znakapp/p5/
service/parsers_znakapp/p6/
service/parsers_znakapp/p7/
service/parsers_znakapp/p8/
service/parsers_znakapp/p9/
service/parsers_znakapp/p10/
service/parsers_znakapp/botp3/
service/parsers_znakapp/botp2/
service/parsers_znakapp/botp1/
outputs/
venv
.vscode
.idea